<tr>
  <td bgcolor="#ffffff">
    <h1 style="color: #2db0dc; font-weight: 300; font-family: 'Open Sans', Arial; text-align: center; margin: 40px 0 10px 0;">Prezado usuário,</h1>
    <h2 style="color: #000; font-size: 19px; font-weight: 300; font-family: 'Open Sans', Arial; text-align: center; margin: 0 0 40px 0;">Confira a atualização e o resumo de sua solicitação.</h2>
  </td>
</tr>
<tr>
  <td bgcolor="#FAFAFA" style="padding: 30px 65px 30px 65px;">
    <h3 style="color: #b7b7b7; font-size: 14px; font-weight: 600; text-transform: uppercase; letter-spacing: -0.5px; font-family: 'Open Sans', Arial; margin: 0px;">Protocolo 2343242345T</h3>

    <hr style="border:0px;color:#FFF;border-bottom: 1px solid #cfcfcf;margin: 10px 0 10px 0px;">

    <table align="center" border="0" cellpadding="0" cellspacing="9" width="386">
      <tr>
        <td bgcolor="#74C84F" width="100" style="border-radius: 20px;color: #FFF; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: -0.5px; font-family: 'Open Sans', Arial; margin: 0px;padding: 5px;text-align: center;">
          Concluído
        </td>
        <td>
          <b style="color: #656565; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: -0.5px; font-family: 'Open Sans', Arial;">DESDE 23/03/14</b>
        </td>
      </tr>

      <tr>
        <td bgcolor="#ffac2c" width="100" style="border-radius: 20px;color: #FFF; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: -0.5px; font-family: 'Open Sans', Arial; margin: 0px;padding: 5px;text-align: center;">
          Em andamento
        </td>
        <td>
          <b style="color: #656565; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: -0.5px; font-family: 'Open Sans', Arial;">DESDE 23/03/14</b>
        </td>
      </tr>

      <tr>
        <td bgcolor="#ff604a" width="100" style="border-radius: 20px;color: #FFF; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: -0.5px; font-family: 'Open Sans', Arial; margin: 0px;padding: 5px;text-align: center;">
          Em aberto
        </td>
        <td>
          <b style="color: #656565; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: -0.5px; font-family: 'Open Sans', Arial;">DESDE 23/03/14</b>
        </td>
      </tr>
    </table>

    <hr style="border:0px;color:#FFF;border-bottom: 1px solid #cfcfcf;margin: 10px 0 10px 0px;">

    <h1 style="color: #000; font-size: 29px; font-weight: 300; font-family: 'Open Sans', Arial; margin: 20px 0 0 0;">Limpeza de boca de lobo</h1>
    <p style="color: #656565; font-size: 14px; font-weight: 300; font-family: 'Open Sans', Arial; margin: 0px 0 5px 0;">Rua Conselheiro Ramalho, 745, Bela Vista - São Paulo</p>
    <p style="color: #656565; font-size: 14px; font-weight: 600; font-family: 'Open Sans', Arial; margin: 0px 0 25px 0; letter-spacing: -1;">ENVIADA EM 15 DE MARÇO DE 2014 ÁS 16H46</p>

    <img src="images/pic.jpg" width="386" height="386">

    <p style="color: #909090; font-size: 14px; font-weight: 300; font-family: 'Open Sans', Arial; margin: 25px 0 25px 0;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </td>
</tr>
