<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>ZUP Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
</head>
<body style="margin: 0; padding: 0; background: #2AB4DB">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="500">
   <tr height="30"><td></td></tr>
   <tr>
    <td bgcolor="#E8EDF0" style="padding: 30px 40px 30px 40px;text-align: center;">
     <img src="<%= header_for_mailer %>" width="436" height="40" />
    </td>
   </tr>
   <%= yield %>
   <tr>
     <td height="80" style="text-align: center;">
       <a href="<%= url_for_mailer("users/unsubscribe/#{@user.unsubscribe_email_token}") %>" style="color: #FFF; font-size: 14px; font-weight: 600; font-family: 'Open Sans', Arial; text-decoration: none;">Não quero mais receber este resumo por email.</a>
     </td>
   </tr>
  </table>
</body>
</html>
